{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hobby{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Piedra" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/event_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">

    <link rel="stylesheet" href="{% static 'css/sitestyle.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var bgArray = {{ board.back_img|safe }};
            var bg = bgArray[Math.floor(Math.random() * bgArray.length)];
            console.log(bgArray);
            console.log(bg);
            var path = '/media/board_back/';

            $('body').css('background-image', 'url(' + path + bg + ')');
        });
    </script>

    {% block stylesheet %}{% endblock %}
</head>

<body>
{% block body %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: red">Hobby</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: red">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="{% url 'profile' %}">My account</a>
                                <a class="dropdown-item" href="#">Change password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <form class="form-inline ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
      {% block content %}

      {% endblock %}


{% endblock body %}
</body>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</html>