{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}

{% endblock %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-10">
                {% for event in events %}

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <p>
                                    {{ event.title }}
                                </p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img class="img-fluid event_img" src="{{ event.event_pic.url }}">
                                <p>
                                    {{ event.subject }}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'event_detail' board.pk event.pk %}">
                                    See detail
                                </a>
                            </div>
                            <div class="like">
                                <img class="like__icon" width="10%" height="10%" src="{% static "like.svg" %}" id="{{ event.id }}"> </img>
                                <p class="like__count" id="count {{ event.id }}">{{ event.total_likes }}</p>
                            </div>
                            {{ event.messages.count }}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

{%  block script %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}