{% extends 'base.html' %}

{% load static %}

{% block title %}
    Event
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-10">

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <p>
                                    {{ event.title }}
                                </p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img class="img-fluid event_img" src="{{ event.event_pic.url }}">
                                <p>
                                    {{ event.subject }}
                                </p>
                                <p>
                                    {{ event.date }}
                                </p>
                                <p>
                                    {{ event.created_by }}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                {% for message in messages %}
                                {{ message.message }}
                                {{ message.created_by }}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

{% endblock %}