{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}

{% endblock %}

{% block title %}
    Event
{% endblock %}

<body>
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-10">

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                 <h1 class="display-4">
                                    {{ event.title }}
                                </h1>
                            </div>
                                <img class="card-img-top" src="{{ event.event_pic.url }}" alt="Card image" style="width:100%">
                        </div>
                        <div class="card-body">
                            <div>
                                <p>
                                    {{ event.subject }}
                                </p>
                                <p>
                                    {{ event.date }}
                                </p>
                                <p>
                                    {{ event.created_by }}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">

                            <div class="like">
                                <img class="like__icon" width="10%" height="10%" src="{% static "like_red.svg" %}" id="{{ event.id }}"> </img>
                                <span class="like__count" id="count {{ event.id }}">{{ total_likes }}</span>
                            </div>
                        </div>
                    </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary btn-block">Comment</button>
            </form>

                <div id="comslist"></div>
            </div>

            </div>
            <button class="more"> More </button>
        </div>
    </div>




{% endblock %}
</body>

{%  block script %}
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}