{% extends 'base_acc.html' %}

{% block title %}Sign up to Hobby app!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card-img-bottom">
        <div class="card-body">
          <h3 class="card-title">Some info pls</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Finish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}