{% extends 'base_acc.html' %}

{% block title %}Sign up to Hobby app!{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" novalidate class="col-lg-4">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Finish</button>
        </form>
        <div class="col-lg-8">
        <img src="{{ user.profile.profile_image.url }}">
    </div>
    </div>
{% endblock %}